#sidebar
  #sidebar-container
    #sidebar-header
      %h3 Navigation
    #sidebar-sections
      .sidebar_section
        %h4= link_to('Home', '/')
        %ul
          %li= link_to 'About', '/about/'
          %li= link_to 'Portfolio', '/portfolio/'
      -# List all categories on the sidebar, sorting them by value in :sidebar_item
      -sidebar_categories.each do |category|
        .sidebar_section
          %h4
            -unless category.identifier == '/blog/'
              = link_to(category[:title], category)
            -else
              = link_to('Archive', category)
          -#unless category.identifier == '/portfolio/'
          %ul
            -items_of( category ).each_with_index do |li, i|
              -if li.path
                %li= link_to(li[:title].excerpt, li)
                -break if (i > 3) && (get_category_of( li ) != get_category_of( @item ))

  #sidebar-endcap
